<% provide(:title, "Auto Coordinator") %>

<h1>★オートコーディネータ★</h1>
<p>ようこそ、 <%= current_user.name %> さん。</p>
<%= button_to "ログアウト", logout_path, :method=> :delete %>
<p></p>
<%= link_to "クローゼットへ", closet_path %>
