# Gitディレクトリとファイル
/.git/
.gitignore

# Bundler設定
/.bundle

# 環境変数ファイル
/.env*
!/.env*.erb

# 認証関連ファイル
/config/master.key
/config/credentials/*.key

# ログファイルと一時ファイル
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PIDファイル
/tmp/pids/*
!/tmp/pids/.keep

# ストレージディレクトリ（アップロードされたファイル等）
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# アセットとNodeモジュール
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# キャッシュやテスト関連ファイル（必要に応じて）
# /coverage/
# /public/packs/
# /public/packs-test/
# /spec/tmp/*

# Yarnキャッシュ（必要に応じて）
# .yarn
