<h1>クローゼット</h1>
<p>登録した服を管理するページです</p>
<p>服の画像をクリックすると詳細画面を表示できます。(予定)</p>

<% @cloths.each do |cloth| %>
  <% if cloth.image.attached? %>
    <%= image_tag cloth.image, width: "200", height: "200" %>
  <% end %>
<% end %>


<%= link_to "服を追加する", closet_add_path %>
<%= link_to "戻る", root_path %>
