<% provide(:title, "Detail") %>
<h1>服の詳細ページ</h1>

<div>
  <%= link_to image_tag("sites/navigationj_back.png", class:"image-back-link"),closet_path %>
</div>

<%= image_tag @cloth.image, class:"image-cloth-detail" if @cloth.image.attached? %>

<p class="show-description"><%= @cloth.description %></p>

<%= button_to "服を削除する", cloth_path(@cloth), method: :delete, data:{ confirm: "本当に削除しますか？"} %>
