@mixin image-size($width, $height: $width) {
  width: $width;
  height: $height;
}

body {
  background-color: beige;
}

.show-description {
  font-size: 200%;
  font-weight: bold;
}

li {
  list-style: none;
}

.form-container {
  display: flex;
  ul {
    padding-left: 0px;
    li {
      margin-bottom: 10px;
      label {
        font-weight: bold;
        width: 120px;
        margin-right: 10px;
        float: left;

        &.label-user-edit {
          width: 220px;
        }
        &.cloth-add {
          width: 150px;
        }
      }
      input {
        width: 180px;
        height: 20px;
      }
      input[type="file"] {
        width: auto;
        height: auto;
        margin: 0;
      }
      input[type="submit"] {
        font-weight: bold;
        width: 100px;
        height: 25px;
      }
      .select-type {
        font-size:1.2em; 
      }
      .add-cloth-description {
        font-size:1.7em;
        width:300px;
      }
    }
  }
  
}

.closet-link-container {
  align-items: left;
  ul {
    padding-left: 0;
    li {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.user-profile-container {
  align-items: left;
  ul {
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      margin-bottom: 10px;
      font-weight: bold;

      strong {
        min-width: 150px;
        margin-right: 10px;
      }      
    }
  }
}

.checkbox-container {
  .checkbox-item {
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: 5px;
    .cloth-type-checkbox {
      transform: scale(1.3);
    }
    .cloth-type-label {
      display: inline-block;
      width: 140px;
    }
  }
  .cloth-filter-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 120%;
    width: 80px;
    height: 30px;
  }
  .check-all-button {
    margin-right: 10px;
  }
}

.alert-message {
  color: red;
}

$flash-types: (
  error: rgb(255, 50, 50),
  success: green,
  notice: green,
  alert: rgb(255, 50, 50),
);

@each $type, $color in $flash-types {
  .flash-#{$type} {
    background-color: $color;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
  }
}

.rules-view {
  border-collapse: collapse;
  width: 800px;
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    text-align: left;
  }
}

.cloth_types-view {
  border-collapse: collapse;
  width: 500px;
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    text-align: left;
  }
}

.link {
  font-weight: bold;
}

.edit-link {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.closet-link {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.image-login {
  @include image-size(300px);
}

.image-signup {
  @include image-size(200px);
}

.image-back-link {
  @include image-size(130px, 70px);
}

.image-closet {
  @include image-size(150px, 160px);
}

.image-profile {
  @include image-size(200px, 200px);
}

.image-cloth-detail {
  max-width: 1000px;
  max-height: 1000px;
}
