body {
  background-color: beige;
}

.form-container {
  display: flex;
  ul {
    padding-left: 0px;
    li {
      list-style: none;
      margin-bottom: 10px;
      label {
        font-weight: bold;
        width: 120px;
        margin-right: 10px;
        float: left;
      }
      input {
        width: 180px;
        height: 20px;
      }
      input[type="submit"] {
        font-weight: bold;
        width: 100px;
        height: 25px;
      }
    }
  }
}

$flash-types: (
  error: rgb(255, 50, 50),
  success: green,
  notice: blue
);

@each $type, $color in $flash-types {
  .flash-#{$type} {
    background-color: $color;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
  }
}

.link {
  font-weight: bold;
}

@mixin image-size($width, $height: $width) {
  width: $width;
  height: $height;
}

.image-login {
  @include image-size(300px);
}

.image-signup {
  @include image-size(200px);
}

.image-back-link {
  @include image-size(130px, 70px);
}
