<% flash.each do |message_type, messages| %>
  <% if message_type == "notice" || message_type == "alert" %>
    <% if messages.is_a?(Array) %>
      <% messages.each do |message| %>
        <div class="flash-<%= message_type %>"><%= message %></div>
      <% end %>
    <% else %>
      <div class="flash-<%= message_type %>"><%= messages %></div>
    <% end %>
  <% end %>
<% end %>
